# Pycharm files
.idea/
*__pycache__/

# Sensitive files
data.py

# Log files
*.log

# Testing files
*test*

# Data files
*.txt
*.docx*
*.json
dump.sql

# Do not ignore!
!db_code_for_erd.dbdesigner.net.txt